INCLUDE options/options.makejail

ARG minetest_tag=%%TAG1%%
ARG minetest_ajspec=gh+AppJail-makejails/minetest

FROM --entrypoint "${minetest_ajspec}" minetest:${minetest_tag}

SYSRC minetest_enable=YES
SYSRC "minetest_args=--logfile /var/log/minetest/debug.log --world /var/db/minetest/world --gameid minetest_game"
SERVICE minetest start
